/* index.ejs styling */
html {
    background-color: rgb(30, 30, 30);
}
.index-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 0 20px 0 20px;
    border: 4px solid rgb(196, 45, 45);
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgb(255, 243, 77);
}

.pokemon-image {
    display: block;
    height: 150px;
    width: 174px;
    margin: auto;
}

.image-buttons-box {
    border: 3px solid black;
    margin-top: 10px;
    display: inline;
    background-color: white;
}

.delete-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    padding-top: 3px;
    border-top: 3px solid black;
}

.delete-button {
    font-size: 15px;
    background-color: rgb(196, 45, 45);
    color: white;
    border: 2px solid black;
    margin-left: 10px;
    transition: .3s;
}

.delete-button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(196, 45, 45);
    border: 2px solid rgb(196, 45, 45);
}

.edit-button {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgb(196, 45, 45);
    color: white;
    border: 2px solid black;
    margin-right: 10px;
    text-decoration: none;
    transition: .3s;
}

.edit-button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(196, 45, 45);
    border: 2px solid rgb(196, 45, 45);
}

/* navbar styling */

.navbar {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgb(196, 45, 45);
}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 22px;
    padding: 10px 0 10px 0;
}

.left {
    margin-right: auto;
    margin-left: 20px;
    float: left;
}

.navigation-links {
    margin-right: 20px;
    transition: .3s;
}

.navigation-links:hover {
    color: rgb(255, 243, 77);
}

.pokedex-title {
    font-size: 40px;
    font-weight: 700;
}

/* show.ejs styling */

.show-container {
    background-color: rgb(255, 243, 77);
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(196, 45, 45);
}

.pokemon-name {
    color: rgb(196, 45, 45);
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 45px;
    text-align: center;
}

.pokemon-show-image {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 20%;
}

.poke-types-container {
    width: 200px;
    height: 240px;
    margin-left: 50px;
    border: 2px solid black;
    border-radius: 12%;
    background-color: rgb(196, 45, 45);
}

.types-title {
    color: black;
    text-align: center;
    font-size: 28px;
}

.types {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 22px;
}

.poke-stats {
    color: white;
    text-align: center;
    border: 2px solid black;
    border-radius: 12%;
    width: 180px;
    height: 240px;
    margin-left: 50px;
    background-color: rgb(196, 45, 45);
    font-size: 19px;
}

.stats-title {
    color: black;
    font-size: 28px;
}

/* new.ejs styling */

.new-form {
    font-family: 'Bai Jamjuree', sans-serif;
    display: grid;
    grid-template-columns: 300px 200px 300px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    justify-content: center;
    background-color: rgb(255, 243, 77);
    border: 3px solid rgb(196, 45, 45);
}

.add-pokemon-title {
    color: rgb(196, 45, 45);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: whitesmoke;
    border: 2px solid rgb(196, 45, 45);
    color: black;
    font-size: 20px;
    margin-left: auto;
    float: right;
}

.inputs:focus {
    outline: none;
}

.labels-new {
    font-size: 19px;
    color: rgb(196, 45, 45);
    font-weight: 700;
}

.add-pokemon-button {
    padding: 10px;
    background-color: rgb(196, 45, 45);
    border: 3px solid whitesmoke;
    color: white;
    font-weight: 700;
    font-size: 22px;
    transition: .3s;
}

.add-pokemon-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(196, 45, 45);
    border-color: rgb(196, 45, 45);
}

@media screen and (max-width: 922px) {
    .show-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }

    .pokemon-show-image {
        height: 300px;
        width: 300px;
    }
    
    .poke-types-container {
        height: 200px;
        margin-left: 0;
        margin: auto;
    }
    
    .types-title {
        color: black;
        text-align: center;
        font-size: 28px;
    }

    .poke-stats {
        width: 180px;
        height: 240px;
        margin-left: 0;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 840px) {
    .new-form {
        grid-template-columns: 300px;
        grid-template-rows: auto;
    }
}
@media screen and (max-width: 840px) {
    .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
        padding: 10px 0 10px 0;
    }
    
    .left {
        margin-right: auto;
        margin-left: 20px;
        float: left;
    }
    
    .navigation-links {
        margin-right: 10px;
        transition: .3s;
    }
    
    .navigation-links:hover {
        color: rgb(255, 243, 77);
    }
    
    .pokedex-title {
        font-size: 30px;
        font-weight: 700;
    }
}